<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->#}
    <meta name="description" content="">
    <meta name="author" content="Konstantin Grachev <me@grachevko.ru>">
    {#<link rel="icon" href="/assets/favicon.ico">#}

    <title>Testing</title>

    {#<!-- Bootstrap core CSS -->#}
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    {#<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->#}
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>

{% block body %}{% endblock %}

{#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
