{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Регистрация</h1>

        <hr>

        <div class="row">
            <div class="col-md-6 col-sm-offset-2">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}

                {{ form_widget(form) }}

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button class="btn btn-success" type="submit" id="_submit">Зарегистрироваться</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
