{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <h1>Авторизация</h1>

        <hr>

        <div class="row">
            <div class="col-sm-offset-2">
                {% if error %}
                    <div class="row">
                        <div class="alert alert-danger col-sm-offset-2 col-sm-5">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                {% endif %}

                <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
                        <label class="col-sm-3 control-label required" for="username">Имя пользователя</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="_username" value="{{ last_username }}" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label required" for="password">Пароль</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="_password" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label required" for="_remember_me">Запомнить меня?</label>
                        <div class="col-sm-4">
                            <input type="checkbox" name="_remember_me" value="on"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button class="btn btn-success" type="submit" name="_submit">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
